<div class="weekly-habits-container">
  <div class="most-watched-day-card">
    <div class="highlight">{{ insights.mostWatchedDay.day }}</div>

    <div class="label">{{ insights.mostWatchedDay.label }}</div>

    <div class="stats">
      <div>
        <span>{{ insights.mostWatchedDay.watchedCount }}</span> movies watched
      </div>
      <div>
        <span>{{ insights.mostWatchedDay.watchedPercentage }}%</span> of weekly viewing
      </div>
    </div>
  </div>

  <div class="distribution-chart">
    <app-weekly-distribution-chart
      [title]="'Weekly Watch Distribution (%)'"
      [data]="insights.watchedDayOfWeekDistribution"
      [chartType]="'radar'"
    ></app-weekly-distribution-chart>
  </div>
</div>
