.movies-search-container {
  padding: 1.5rem 2.5rem;
}

.search-field {
  max-width: 250px;
  max-width: 220px;
  flex: 1;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}
