<div class="analytics-container">
  <h1 class="d-flex align-items-center gap-2">
    Watchlist Analytics Dashboard
    <app-info-icon
      tooltipText="Analyze your watching trends by visual insights and aggregated data."
    ></app-info-icon>
  </h1>
  <p class="hint-muted">
    Analytics are updated a few times per day. Recent changes may not appear instantly.
  </p>

  <app-loading-spinner
    *ngIf="isLoading"
    text="Loading visuals for analytics ..."
    [size]="3"
  ></app-loading-spinner>
  <app-error-message
    *ngIf="!isLoading && errorMessage"
    [message]="errorMessage"
    retryText="Failed to charts for analytics. Try again later!"
    (retry)="loadAllAnalytics()"
  ></app-error-message>

  <div *ngIf="!isLoading && !errorMessage">
    <h4 class="mt-3">Your Watch Trends</h4>
    <p class="mb-3 hint-text">
      Charts below show how many movies you watched and your total runtime across different periods.
    </p>
    <div class="charts-grid-top">
      <app-analytics-chart
        [title]="'Last 7 Days'"
        [analyticsData]="lastWeekAnalytics"
        [metric]="activeMetric"
        [type]="chartType"
      >
      </app-analytics-chart>

      <app-analytics-chart
        [title]="'This month'"
        [analyticsData]="lastMonthAnalytics"
        [metric]="activeMetric"
        [type]="chartType"
      >
      </app-analytics-chart>
    </div>
    <div class="charts-grid-bottom">
      <app-analytics-chart
        [title]="'This Year'"
        [analyticsData]="thisYearAnalytics"
        [metric]="activeMetric"
        [type]="chartType"
      >
      </app-analytics-chart>
    </div>

    <div class="chart-controls">
      <button class="primary-btn" (click)="toggleMetric()">
        {{ activeMetric === 'watchedCount' ? 'Show Runtime (min)' : 'Show Watched Count' }}
      </button>

      <button class="primary-btn" (click)="toggleChartType()">
        {{ chartType === 'bar' ? 'Show Line Chart' : 'Show Bar Chart' }}
      </button>
    </div>
  </div>

  <div *ngIf="insights && !isLoading && !errorMessage" class="genres-section">
    <h4 class="mt-5">Genre Insights</h4>
    <p class="hint-text">Explore your genre preferences and runtime patterns.</p>

    <app-insights-genres [insights]="insights"></app-insights-genres>
  </div>

  <div *ngIf="insights && !isLoading && !errorMessage" class="favorites-section mt-5">
    <h4>Favorites Insights</h4>
    <p class="hint-text">
      Discover your favorite genres and how your favorites relate to your watched list.
    </p>

    <app-favorites-insights [insights]="insights"></app-favorites-insights>
  </div>
</div>
