@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --color-bg-main: #181a1b;
  --color-bg-navbar: #23272a;
  --color-bg-hover: #31363b;
  --color-bg-active: #3a3f44;
  --color-text-main: #e0e0e0;
  --color-accent: #7700ff;
  --color-accent-hover: #5c00c2;
  --color-accent-shadow: rgba(119, 0, 255, 0.5);
  --color-accent-shadow-hover: rgba(119, 0, 255, 0.6);
  --color-success: #4caf50;
}

html,
body {
  height: 100%;
  background: var(--color-bg-main);
  color: var(--color-text-main);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-container {
  padding: 30px;
  /* max-width: 1200px; */
  margin: auto;
}

.container-sm {
  padding: 50px;
  max-width: 800px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-navbar);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
  border: 2px solid var(--color-bg-main);
}

.custom-snackbar {
  background: var(--color-accent);
  border-radius: 5px;
}

.error-snackbar {
  background-color: #d32f2f !important;
  color: #fff !important;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
}

.accent-color {
  color: var(--color-accent);
}
