<div class="watchlist-container">
  <h1 class="d-flex align-items-center gap-2">
    Watchlist Overview
    <app-info-icon
      tooltipText="See your watchlist progress, time spent watching, and recent activity at a glance."
    ></app-info-icon>
  </h1>

  <mat-tab-group
    [(selectedIndex)]="selectedTabIndex"
    (selectedIndexChange)="onTabChange($event)"
    class="mb-4"
  >
    <mat-tab label="To Watch">
      <app-watchlist-items [status]="Status.ToWatch"></app-watchlist-items>
    </mat-tab>
    <mat-tab label="Watched">
      <app-watchlist-items [status]="Status.Watched"></app-watchlist-items>
    </mat-tab>
  </mat-tab-group>

  <app-watchlist-summary></app-watchlist-summary>
</div>
