<div class="container" *ngIf="!isLoading">
  <app-movie-details-card
    *ngIf="movieDetails; else movieNotFound"
    [movieDetails]="movieDetails"
  ></app-movie-details-card>
</div>

<ng-template #movieNotFound>
  <div class="not-found-container">
    <h2>Oops! Movie not found 😕</h2>
    <p>Try searching for another movie or check the trending movies.</p>
    <div class="not-found-actions">
      <button class="accent-btn" [routerLink]="'/movies/search'">Search Movies</button>
      <button class="outline-btn" [routerLink]="'/movies/trending'">Trending Movies</button>
    </div>
  </div>
</ng-template>
